$main-light: rgb(119, 134, 153);
$main-dark: rgb(0, 0, 0);
$light-background: rgb(248, 248, 248);
$font-light: rgb(128, 128, 128);
$font-secondary: rgb(47, 79, 79);
$font-tertiary: rgb(152, 251, 152);
