@import "../../styles/_colors.scss";

.side {
  width: 25vw;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .shipping {
    border: 1px solid $main-light;
    background-color: $light-background;
    color: $main-dark;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .totals {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: $light-background;
    width: 100%;
    .cart-total {
      font-weight: bolder;
      height: 50px;
      font-size: 1.1rem;
      padding: 10px;
      display: flex;
      align-items: center;
      background-color: $light-background;
    }
    .subtotal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      color: $font-light;
      background-color: $light-background;
      p:nth-of-type(2) {
        color: black;
        font-weight: bold;
      }
    }
    .grand {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      color: $font-light;
      background-color: $light-background;
      p:nth-of-type(2) {
        color: black;
        font-weight: bold;
      }
    }
  }
  .checkout {
    width: 90%;
    background-color: $main-dark;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 10px;
    font-weight: bold;
    cursor: pointer;
  }
}
.proceed {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 20%;
  border: 2px solid $font-tertiary;
  text-align: center;
  font-weight: bold;
}
